@font-face {
    font-family: 'Minecraft';
    src: url("https://cdn.epicpuppy.dev/assets/fonts/Minecraft/Minecraft-Regular.woff2") format('woff2'),
        url("https://cdn.epicpuppy.dev/assets/fonts/Minecraft/Minecraft-Regular.woff") format('woff');
    font-weight: normal;
    font-style: normal;
    font-display: swap;
}
html {
    color: #ffffff;
    font-family: 'Consolas','Courier New', monospace;
}
canvas {
    position: absolute;
    top: 0;
    left: 0;
    image-rendering: pixelated;
}
.propertyContainer {
    margin-bottom: 8px;
    width: 100%;
    display: flex;
    direction: horizontal;
    align-items: center;
    justify-content: space-between;
}
.property {
    display: none;
}
.identifiers {
    display: none;
}
#propertyTable {
    width: 100%;
}
#timeTypeInput {
    width: 100%;
}
#alignIcons {
    flex-grow: 1;
    text-align: center;
}
#overlay {
    pointer-events: none;
}
#colorInput {
    flex-grow: 1;
    padding: 2px;
    min-width: 4em;
    width: 100%;
    height: 2em;
}
#arrivalInput {
    flex-grow: 1;
    padding: 2px;
}
#propertyEditor {
    position: absolute;
    top: 50%;
    right: 0;
    transform: translate(0, -50%);
    padding: 10px 10px 0;
    display: none;
    background-color: #333333;
    border: solid 2px #444444;
    border-width: 2px 0 2px 2px;
    border-radius: 6px 0 0 6px;
    flex-direction: column;
    max-height: 90%;
    overflow-y: auto;
    text-align: center;
}
#propertyEditor h3 {
    margin-top: 0;
    margin-bottom: 10px;
}
#posContainer {
    columns: 2;
    text-align: left;
    margin-bottom: 8px;
    width: 100%;
}
#deleteButton {
    text-align: center;
    padding: 5px;
    border: solid 1px #444444;
    background-color: #440000;
    color: #ffffff;
    margin-bottom: 8px;
    border-radius: 6px;
    font-family: 'Consolas','Courier New', monospace;
}
#deleteButton:hover {
    background-color: #660000;
}
#duplicateButton {
    text-align: center;
    padding: 5px;
    border: solid 1px #444444;
    background-color: #000044;
    color: #ffffff;
    margin-bottom: 8px;
    border-radius: 6px;
    font-family: 'Consolas','Courier New', monospace;
}
#duplicateButton:hover {
    background-color: #000066;
}
#colorInput {
    border: solid 2px white;
}

.managementIcon {
    margin-top: 4px;
}
.managementIcon:hover {
    background-color: #666666;
}
.moduleIcon {
    margin-bottom: 4px;
}
.moduleIcon:hover {
    background-color: #666666;
}
#toolbar {
    display: flex;
    height: calc(100% - 8px);
    position: absolute;
    top: 0;
    left: 0;
    background-color: #333333;
    border: solid #444444;
    border-width: 0 2px 0 0;
    padding: 4px;
    width: 32px;
    flex-direction: column;
    justify-content: space-between;
    flex-wrap: nowrap;
    transition: width 0.5s;
    overflow-y: auto;
}
#toolbar:hover {
    width: fit-content;
}
#moduleTypes {
    font-size: 0;
}
#management {
    font-size: 0;
}
#toolbar:hover .toolbarItem {
    width: fit-content;
}
.toolbarItem {
    display: flex;
    flex-direction: row;
    overflow: hidden;
    text-wrap: nowrap;
    width: 32px;
}
.toolbarItem label {
    color: white;
    font-size: 14px;
    margin-left: 8px;
}
#management .toolbarItem label {
    margin-top: 12px;
}
#moduleTypes .toolbarItem label {
    margin-top: 8px;
}

.overlayWindow {
    width: 100%;
    height: 100%;
    position: absolute;
    top: 0;
    left: 0;
    background-color: rgba(0, 0, 0, 0.65);
    display: none;
}
.overlayContent {
    background-color: #333333;
    border: solid 2px #444444;
    padding: 20px;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    display: block;
}
.overlayContent h1 {
    margin: 0;
    padding: 10px;
    text-align: center;
}
.overlayContent h2 {
    margin: 0;
    padding: 10px;
    text-align: center;
}
.overlayContent .inputContainer {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}
.overlayContent label {
    margin: 5px 0;
    padding: 5px;
}
.overlayContent input {
    flex-grow: 1;
    padding: 5px;
    margin: 5px 0;
    width: unset;
    border: solid 2px #666666;
    background-color: #444444;
    color: #ffffff;
    font-family: 'Consolas','Courier New', monospace;
}
.overlayContent select {
    flex-grow: 1;
    padding: 5px;
    margin: 5px 0;
    width: unset;
    border: solid 2px #666666;
    background-color: #444444;
    color: #ffffff;
    font-family: 'Consolas','Courier New', monospace;
}
.overlayContent textarea {
    padding: 5px;
    margin: 5px 0;
    width: 30em;
    height: 8em;
    resize: none;
    font-size: 12px;
    border: solid 1px #444444;  
    background-color: #444444;
    color: #ffffff;
    font-family: 'Consolas','Courier New', monospace;
}
.overlayContent button {
    width: 150px;
    padding: 5px;
    margin: 5px 0;
    border: solid 1px #444444;
    background-color: #444444;
    color: #ffffff;
    font-family: 'Consolas','Courier New', monospace;
}
.overlayContent button:hover {
    background-color: #666666;
}
#exportButton {
    background-color: #006600;
}
#exportButton:hover {
    background-color: #009900;
}
#colorButton {
    flex-grow: 1;
}

#layerbar {
    display: flex;
    flex-direction: row;
    position: absolute;
    bottom: 0;
    left: 50%;
    transform: translate(-50%, 0);
    background-color: #333333;
    border: solid 2px #444444;
    padding: 2px;
    justify-content: space-between;
    border-width: 2px 2px 0 2px;
    border-radius: 6px 6px 0 0;
}
.layerIcon {
    margin: 0 2px;
    margin-top: 2px;
    filter: brightness(0.5);
}
.layerIcon:not(.layerActive):hover {
    background-color: #999999;
}
.layerIcon.layerActive:hover {
    background-color: #666666;
}
.layerActive {
    filter: brightness(1);
}

#warning {
    display: none;
    flex-direction: row;
    position: absolute;
    top: 0;
    left: 50%;
    transform: translate(-50%, 0);
    background-color: #333333;
    border: solid 2px #444444;
    padding: 2px;
    justify-content: space-between;
    border-width: 0 2px 2px 2px;
    border-radius: 0 0 6px 6px;
    text-align: center;
    color: yellow;
}

#warningIcon {
    margin: 2px;
}

#warningText {
    margin: 0 6px;
}